/*
 *  global
 */
#tl_navigation {
  a.group-sources {
    background: url("../img/book-open-text.svg") 3px 2px no-repeat;
    background-size: 13px 13px;
  }
}

*[class^="tagged"]::before,
*[class*=" tagged"]::before {
  background-color: #ffebeb;
  border: 0 solid #808080;
  border-radius: 4px;
  padding: 0 0;
  margin-right: 4px;
}

/*
  global tagging for APA Entities
*/

.tagged
{
  // Authors
  &.authors {
    &::before { content: "Autoren:"; }
  }
  // Title and Subtitle
  &.titles {
    &::before {
      content: "Titel:";
    }

    .title {
      font-weight: bold;
    }

    .subtitle {
      font-weight: bold;
      color: #0066ff;
    }
  }
  // Series
  &.series {
    ::before { content: "In "; }
  }
}

.tagged.metadata::before       { content: "Metadaten"; background-color: #ecf4ff; }
.tagged.catalogs::before       { content: "in Katalogen"; background-color: #ecf4ff; }
.tagged.digitalcopies::before  { content: "Digitalisate"; background-color: #ecf4ff; }
.tagged.counter                { background-color: #ecf4ff; padding: 0 4px; }

.tagged.dataprovider::before   { content: "Datengeber:"; }

.tagged.signature::before      { content: "Signatur:"; }
.tagged.odai::before           { content: "OAI-Identifier:"; }
.tagged.takenon::before        { content: "abgerufen am:"; }

.tagged.license::before        { content: "Lizenz:"; }

/***********************************************************************************/

// Test zum formatieren ganzer Tabellenzeilen mit Elementen mit Status 'used'
tr.hover-row:has(span.used) {
  //background-color: rgb(255 206 216) !important;
}

.tl_file_list {
  background-color: unset;

  .unused { color: dodgerblue; }
  .used   { color: darkred; }

  .source-entity {
    display: flex;
    gap: 0.5rem;
    //border: 1px solid red;

    .initiale {
      font-size: 200%;
      aspect-ratio: 1;
      width: 2rem;
      flex: 0;
    }

    .data {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      flex: 2 2 auto;

      & > div {
        //border: 1px solid blueviolet;
      }

      span {
        &.author {
          font-weight: bold;
        }

        &.unpublished {
          //text-decoration: line-through;
          color: red;
        }
      }
    }
  }
}

/*--------------------------------------------------------------------------
  edit mode tl_sources_entity
 --------------------------------------------------------------------------*/
form#tl_sources_entity {

  // tips ändern
  .tl_tip {
    color: #2f9f00;
    margin-top: 0.5rem;
  }

  // rowWizard catalogs
  table#ctrl_catalogs,
  table#ctrl_digitalcopies {
    //border: 1px solid var(--form-border);
    //border-radius: 1rem;

    *[id^="ctrl_catalogs"],
    *[id^="ctrl_digitalcopies"] {
      border: none;
      background-color: #F6F6F8;
    }

    td:has(>[id$="[provider]"]) {
      width: 30%;

      select {
        background-color: #ecf4ff;
      }
    }

    td:has(>[id$="[signature]"]) {
      width: 16%;

      input {
        background-color: #ffecec;
      }
    }

    td:has(>[id$="[date]"]) {
      width: 10%;

      input {
        background-color: #fffbec;
      }
    }
  }

  // rowWizard catalogs
  table#ctrl_digitalcopy {
    //border: 1px solid var(--form-border);
    //border-radius: 1rem;

    *[id^="ctrl_digitalcopy"] {
      border: none;
      background-color: #F6F6F8;
    }

    td:has(>[id$="[provider]"]) {
      width: 30%;

      select {
        background-color: #ecf4ff;
      }
    }

    td:has(>[id$="[url]"]) {
      //width: 40%;
      input {
        //background-color: #ffecec;
      }
    }

    td:has(>[id$="[date]"]) {
      width: 10%;

      input {
        background-color: #fffbec;
      }
    }
  }
}
