{% trans_default_domain "tl_sources_entity" %}
{#
    rendert Titel und Untertitel
#}

{% block titles_component %}
    {%- set titles_attributes = attrs().addClass(settings.mode).addClass('titles') -%}
    <span{{- titles_attributes -}}>
        <span>{{- source.title -}}</span>
        {%- if source.subtitle -%}<span class="subtitle">: {{- source.subtitle -}}</span>{%- endif -%}.
    </span>
    {%- if source.edition  -%}<span class="edition"> ({{- source.edition -}}. Aufl.)</span>{%- endif -%}
{% endblock %}